* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Gilroy-Bold", sans-serif; */
  /* font-family: "Gilroy-Heavy", sans-serif; */
  /* font-family: "Gilroy-Light", sans-serif; */
  /* font-family: "Gilroy-Medium", sans-serif; */
  /* font-family: "Gilroy-Regular", sans-serif; */

  font-family: "Inter", sans-serif;
}

.hidden {
  display: none;
}

h1,
h2,
.heading {
  font-family: "Gilroy-Bold", sans-serif;
}

body,
p {
  font-family: "Gilroy-Regular", sans-serif;
}

/* collor  */

:root {
  --primary: #00d6c9;
  --dark-blue: #0d1b39;
  --dark: #1e1e1e;
  --bg-dark: #1e2833;

  --gray-1: #7c7c7c;
  --gray-2: #8d8d8d;

  --accent: #e58411;
  --accent-light: #f6973f;
  --accent-soft: #f6b76f;

  --bg-light: #f7f7f7;
  --white: #ffffff;
}

/*  */

html {
  scroll-behavior: smooth;
}

/* commons style typrography */

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

nav {
  background: url("../images/banner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 1084px;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 41px 0;
}

.nav-content .nav-menu ul {
  display: flex;
  gap: 60px;
  list-style: none;
}

.nav-content .nav-menu li a {
  text-decoration: none;
  color: var(--white);
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.nav-content .n-menu {
  font-size: 35px;
  font-weight: 500;
  color: var(--white);
  display: none;
}

.banner-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 50px 0;
}

.banner-content h1 {
  color: var(--white);
  font-size: 80px;
  font-weight: 400;
  line-height: 130%;
}

.banner-content p {
  font-size: 24px;
  font-weight: 400;
  line-height: 160%;
  color: var(--gray-2);
  max-width: 606px;
  font-family: "Gilroy-Regular", sans-serif;
}

.banner-content .banner-search {
  background-color: rgba(255, 255, 255, 0.172);
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 8px 20px;
  border-radius: 30px;
  border: 2px solid rgba(255, 255, 255, 0.447);
}

.banner-search input[type="text"] {
  background-color: transparent;
  border: none;
  width: 250px;
  color: var(--white);
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  font-family: "Gilroy-Regular", sans-serif;
}

.banner-search input[type="text"]:focus {
  outline: none;
}

#choosing {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgb(255, 255, 255)
  );
  padding: 120px 0;
}

.choosing-content {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.choosing-content .choosing-text h1 {
  width: 242px;
  font-family: "Gilroy-Bold", sans-serif;
  margin-right: 100px;
  font-size: 42px;
  font-weight: 400;
  line-height: 50px;
  color: var(--dark);
}

.choosing-content .choosing-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.choosing-card h2 {
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  color: var(--dark);
}

.choosing-card {
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  color: var(--gray-1);
}

.choosing-card a {
  /* width: 248px; */
  text-decoration: none;
  color: var(--accent-light);
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
}

.choosing-card i {
  color: var(--accent-light);
  margin-left: 15px;
  font-size: 16px;
  font-weight: 400;
}

#product-container .heading h2 {
  margin-top: 50px;
  font-size: 42px;
  font-weight: 400;
  line-height: 50px;
  color: var(--dark);
  text-align: center;
  font-family: "Gilroy-Bold", sans-serif;
}

.heading .product-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  max-width: 348px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 10px 20px;
  border-radius: 30px;
  background: rgba(238, 238, 238, 1);
}

.heading .product-card h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  color: var(--gray-2);
}

.heading .product-card .card-1 {
  border-radius: 32px;
  background: rgba(255, 255, 255, 1);
  padding: 4px 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
}
